.cat-cards {
    .card {
        overflow: visible;
        position: relative;
        margin-bottom: 3rem;
        box-shadow: none;
        border: none;
        transition: opacity 0.3s ease;
        background-color: transparent;
        .card-divider {
            background-color: $body-background;
            color: $primary-pastal;
        }
        button {
            background-color: $tshirt-color;
            border: 1px solid $white;
            font-family: 'Passion One', cursive;
        }
        .oct {
            display: inline-block;
            position: relative;
            height: 152px;
            width: 152px;
            background: $white;
            box-sizing: border-box;
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            img {
                position: absolute;
                top: 1px;
                left: 1px;
                clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
                width: 150px;
                height: 150px;
                // transition: all 0.4s;
            }
        }
        &:hover {
            button {
                background-color: scale-color($tshirt-color, $lightness: -15%);
            }
            img {
                // transform: scale(1.05);
            }
        }
    }
}