.hide-me {
    display: none;
}

#contact {
    @include breakpoint (medium) {
        text-align: left;
    }
    button {
        background-color: $tshirt-color;
        font-family: 'Passion One', cursive;
        font-weight: 400;
        margin-top: 1rem;
        &:hover {
            background-color: scale-color($tshirt-color, $lightness: -15%);
        }
    }
    input {
        height: 2.55rem;
    }
    input, textarea {
        @include breakpoint (medium) {
            text-align: left;
        }  
        margin: 0;
        &::placeholder {
            @include breakpoint (medium) {
                text-align: left;
            }
        }
    }
}

.med-align-r {
    @include breakpoint (medium) {
        text-align: right;
    }
}