.footer {
    background-color: $black;
    color: $white;
    padding: 1rem;
    margin-top: 0;
    position: relative;
    p {
        margin-top: 1rem;
    }
    a {
        color: $white;
        &:hover {
            border-bottom: 1px solid $tshirt-color;
        }
    }
    .menu {
        font-family: inherit;
        margin: 1rem 0em;
        li {
            &:hover {
                a {
                    background-color: inherit;
                }
            }
            a {
                color: $white;
                font-size: 1rem;
                &:hover {
                    border-bottom: 1px solid $tshirt-color;
                }
            }
        }
        .active>a, .is-active>a {
            background-color: inherit;
        }
    }
    .credits {
        font-size: 0.7rem;
    }
    .social-media {
        font-size: 1.8rem;
        a {
            &:hover {
                border: none;
            }
            .socicon-twitter{
                &:hover {
                    color: #4da7de;
                }
            }
            .socicon-facebook {
                &:hover {
                    color: #3e5b98;
                }
            }
        }
    }
}