.full-height {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(large) {
        height: 83vh;
    }
    @include breakpoint(medium) {
        min-height: 450px;
    }
    @include breakpoint(small) {
        height: 80vh;
    }
    .button {
        margin: 0;
    }
}

#main-header {
    display: flex;
    position: relative;
    h1 {
        color: rgba(0,0,0,0.13);
        line-height: 0.9;
        .gp-printing {
            font-family: 'Passion One', cursive;
            text-transform: uppercase;
            letter-spacing: 5px; 
            color: $body-font-color;
            @include breakpoint (small) {
                font-size: 1.8em;
            }
            @include breakpoint (medium) {
                font-size: 1.4em;
            }
            @include breakpoint (large) {
                font-size: 2.4em;
            }
            margin-left: -15vw;
        }
        .gp-embroidery {
            font-family: 'Pinyon Script', cursive;
            color: $body-font-color;
            @include breakpoint (small) {
                font-size: 1.9em;
            }
            @include breakpoint (medium) {
                font-size: 1.4em;
            }
            @include breakpoint (large) {
                font-size: 2.4em;
            }
            margin-left: 15vw;
        }
    }
    img {
        position: absolute;
        bottom: -162px;
    }
}

#intro-widget {
    // margin-bottom: 2rem;
    h2 {
        color: $primary-color;
        font-family: 'Passion One', cursive;
    }
}

#brand-logos {
    margin-bottom: 2rem;
    @extend .center-all;
    .cell {
        img {
            // background-color: rgba(170, 63, 57,0.8);
            // border: solid 1px $white;
            // border-radius: 5px;
            filter: grayscale(100%);
            max-height: 45px;
            margin: 0.2em 0em;
            padding: 0 0.5em;
        }
    }
    h3 {
        color: $tshirt-color;
    }
}