.top-bar {
    background-color: $body-background;
    height: 126px;
    border-bottom: solid 2px $primary-color;
    @include breakpoint (small only) {
        height: inherit;
    }
    ul {
        background-color: $body-background;
    }
}

.dropdown.menu a {
    padding: 0;
}

.gp-menu-left {
    align-self: center;
    ul {
        justify-content: flex-end;
        &.dropdown.menu {
            a {
                margin: 0 0 0 0.8rem;
            }
        }
    }
}

.gp-menu-right {
    align-self: center;
    ul {
        justify-content: flex-start;
        &.dropdown.menu {
            a {
                margin: 0 0.8rem 0 0;
            }
        }
    }
}

.gp-menu-address {
    margin-bottom: 1.3em;
    li {
        font-size: 60%;
    }
    .widgettitle {
        font-size: 2rem;
        margin-bottom: 0;
    }
    .textwidget {
        color: $white;
    }
}

.menu {
    font-family: 'Passion One', cursive;
    @include breakpoint (small only) {
        justify-content: space-between;
    }
    li {
        a {
            color: $white;
            padding: 0.5em 1em;
            font-size: 1.5em;
            @include breakpoint (small only) {
                padding: 0.5em 0em;
            }
        }
        &:hover {
            a {
                color: $primary-pastal;
                background-color: $body-background;
                border-bottom: solid 1px $tshirt-color;
            }
        }
    }
}

.menu .active>a, .menu .is-active>a {
    border-bottom: solid 1px $tshirt-color;
}


//Logo fanciness
#gp-logo {
    transition: max-height .1s ease;
}

.is-anchored {
    // Fix for blur
    z-index: 5;
    #gp-logo {
        max-height: 100px;
    }
}

.is-stuck {
    #gp-logo {
        max-height: 95px;
    }
}

// Mobile menu
#menu-button {
    margin: 0.5em 0em;
}

button.close-button {
    z-index: 20;
    span {
        padding: 0.2em 1em;
    }
}

.off-canvas {
    background: #7fca8f;
    .close-button {
        color: $tshirt-color;
    }
    ul {
        li {
            a {
                color: $white;
                padding-left: 1em;
            }
        }
    }
}