.woocommerce-products-header {
    margin-bottom: 2em;
}

.woocommerce-products-header__title {
    margin-bottom: 1rem;
}

.woocommerce-error {
    border-top-color: $alert-color;
    background-color: transparent;
    color: $alert-color;
    &::before {
        color: $alert-color;
    }
}

.woocommerce-info {
    border-top-color: $secondary-light-pastal;
    background-color: transparent;
    color: $secondary-light-pastal;
    &::before {
        color: $secondary-light-pastal;
    }
}

.woocommerce-message {
    border-top-color: $success-color;
    background-color: transparent;
    color: $success-color;
    &::before {
        color: $success-color;
    }
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    @extend .button;
    @extend .large;
    background-color: $tshirt-color;
    font-family: 'Passion One', cursive;
    font-weight: initial;
    &:hover {
        background-color: scale-color($tshirt-color, $lightness: -15%);
    }
}

.woocommerce, .woo-commerce-page {
    nav.woocommerce-breadcrumb {
        margin: 3em 0em;
        color: $tshirt-color;
        a {
            color: $primary-color;
        }
    }
    .cell {
        .term-description {
            margin-top: 2em;
        }
        ul.products {
            li.product {
                @extend .center-all;
                .woocommerce-loop-category__title, h2, h2.woocommerce-loop-product__title, .woocommerce-loop-product__title, h3 {
                    @extend h2;
                }
            }
        }
    }
    .tabs {
        border: none;
        background: none;
    }
}

.woocommerce {
    div.product {
        .woocommerce-tabs {
            ul.tabs {
                li {
                    border: 1px solid $tshirt-color;
                    background-color: transparent;
                    &.active {
                        background-color: $tshirt-color;
                        border-bottom-color: $tshirt-color;
                        &::before {
                            content: none;
                            border: 1px solid $tshirt-color;
                            box-shadow: 2px 2px 0 $body-background;
                        }
                        &::after {
                            content: none;
                            border: 1px solid $tshirt-color;
                            box-shadow: -2px 2px 0 $body-background;
                        }
                        &:last-child::after {
                            border: 1px solid $body-background;
                        }
                        a {
                            color: $white;
                            &:hover {
                                color: $white;
                            }
                        }
                    }
                    a {
                        color: $body-font-color;
                        &:hover {
                            color: $body-font-color;
                        }
                    }
                    &::before {
                        content: none;
                        box-shadow: 2px 2px 0 $tshirt-color;
                        border: 1px solid $body-background;
                    }
                    &::after {
                        content: none;
                        box-shadow: -2px 2px 0 $tshirt-color;
                        border: 1px solid $body-background;
                    }
                }
                &::before {
                    border-bottom: 1px solid $tshirt-color;
                }
            }
        }
    }
    table.shop_table {
        border: 1px solid $tshirt-trans;
        thead {
            background: transparent;
        }
        tbody {
            background: transparent;
            border: none;
        }
        td {
            border-top: 1px solid $tshirt-trans;
        }
        tr:nth-child(2n) {
            background: transparent;
        }
    }
}

.woocommerce-result-count {
    color: $tshirt-color;
}

.woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce ul.products li.product .price {
    color: $tshirt-color;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: $tshirt-color;
}

.woocommerce ul.products li.product a img {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    float: none;
    width: 100%;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    float: none;
    width: 100%;
}

.gpwc-align-class {
    margin: 1em 2em;
}

.woocommerce div.product .woocommerce-tabs .panel {
    @extend .gpwc-align-class;
}

// Slider container image size
.woocommerce-product-gallery__image {
    &.single-product-main-image {
        height: 21vw;
        width: 21vw;
    }
}